* {
  box-sizing: border-box;
}
body {
  transition: background-color 0.5s, color 0.5s;
}

body.light-mode {
  font-family: Arial;
  padding: 10px;
  background: #32c4f9;
  color: black;
}

body.dark-mode {
      font-family: Arial;
  padding: 10px;
  background-color: black;
  color: white;
}
body.light-mode .game {
  background-color: #fe7362;
  padding: 7px 10px;
  margin-top: 3px;
  border: 2px solid #f3ce73;

}

body.dark-mode .game {
  background-color: black;
  padding: 7px 10px;
  margin-top: 3px;
  border: 2px solid whitesmoke;
}
body.light-mode .article {
  background: #fe7362;
  float: left;
    height: 2500px; /* only for demonstration, should be removed */
    padding: 20px;

}

body.dark-mode .article {
  float: left;
  height: 2500px; /* only for demonstration, should be removed */
  background: #bca7d4;
  padding: 20px;
}
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 30%;
    height: 5000px; /* only for demonstration, should be removed */
    background: #fe7362;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  vertical-menu {
  width: 100%;
}

.vertical-menu a {
  color: #f3ce73;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #32c4f9;
}

  article {
    float: left;
    padding: 20px;
    width: 100%;
    background-color: #f3ce73;
    height: 5000px; /* only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: #fe7362;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  .column-1-left{
    width: 66%;
    float: left;
    padding: 7px 10px;
    margin-top: 3px;
  }

  .column-1-right{
    width: 33%;
    float: left;
    padding: 7px 10px;
    margin-top: 3px;
  }
  .column {
    float: left;
    padding: 7px 10px;
    margin-top: 3px;
  }
  div.card:hover {
    border: 4px solid #32c4f9;
  }
  .active{
    background-color: #2decb7;
  }
  .header-row{
    float: left;
    padding: 7px 10px;
    margin-top: 3px;
    width: 100%;
    background-color: #fe7362;
    border-color: #f3ce73;
    border: 2px solid #fe7362;
  }
  .game {
    float: left;
    width: 25%;
    background-color: #fe7362;
    padding: 7px 10px;
    margin-top: 3px;
  }
  .column-2 {
    float: left;
    width: 20%;
    background-color: #fe7362;
    padding: 7px 10px;
    margin-top: 3px;
  }